<h1>RESTAURANTS LIST</h1>
<p>
<%= link_to 'Add new restaurant', new_restaurant_path %>
</p>

<% @restaurants.each do |restaurant| %>
<ul>
  <li>Name: <%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <li>Address: <%= restaurant.address %></li>
  <li>Phone number: <%= restaurant.phone_number %></li>
  <li>Category: <%= restaurant.category %></li>
</ul>

<p> <%= link_to 'Show', restaurant_path(restaurant), class: "btn btn-primary" %> <%= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-success" %> <%= link_to 'Delete', restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></p>
<% end %>

<p>
<%= link_to 'Add new restaurant', new_restaurant_path %>
</p>
