<div>
  <h3>
    <strong><%= @restaurant.name %></strong>
  </h3>

  <p>
    <strong>Address:</strong>
    <%= @restaurant.address %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= @restaurant.phone_number %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @restaurant.category %>
  </p>

  <p>
    <strong>Reviews:</strong>
  </p>
    <% @restaurant.reviews.each do |review| %>
      <ul>
        <li>Comments: <%= review.content %></li>
        <li>Rating: <%= "*" * review.rating %></li>
      </ul>
    <% end %>

    <h2>Ajouter ici votre review</h2>

    <%= simple_form_for([@restaurant, @review]) do |f| %>
      <%= f.input :content, input_html: {class:"my_input_class", id:'js-input'}, label_html:{class:"my_label_class"}, wrapper_html:{class:"my_wrapper_class"} %>
      <%= f.input :rating %>
      <%= f.submit %>
    <% end %>
</div>


<p><%= link_to 'Back', restaurants_path, class: "btn btn-primary" %>



